[Unit]
Description=<%= appName %> nodejs daemon
After=network.target remote-fs.target

[Service]
User=<%= appUser %>
ExecStart=/usr/local/bin/node /var/www/<%= appName %>/bundle/main.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=<%= appName %>
Environment=ROOT_URL=<%= appRootUrl %>
Environment=PORT=<%= appPort %>
Environment=NODE_ENV=production
Environment=MONGO_URL=<%= appMongoUrl %>
Environment=METEOR_SETTINGS=<%- appEnv %>

[Install]
WantedBy=multi-user.target